body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo para el título */
h1.text-center {
  font-size: 2.5rem; /* Ajusta el tamaño del texto según sea necesario */
  text-align: center;
  color: #ffffff; /* Color del texto blanco */
  background: linear-gradient(
    45deg,
    #4caf50,
    #ffffff
  ); /* Gradiente verde a blanco */
  -webkit-background-clip: text; /* Clip del fondo solo al texto */
  background-clip: text;
  padding: 20px; /* Espaciado alrededor del texto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 255, 0, 0.7); /* Efecto de resplandor verde */
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Efecto de resplandor adicional */
  display: inline-block; /* Ajusta el tamaño del contenedor al tamaño del texto */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 767px) {
  h1.text-center {
    font-size: 2rem; /* Ajusta el tamaño del texto para pantallas pequeñas */
    padding: 10px; /* Ajusta el espaciado para pantallas pequeñas */
  }
}

/* para imagenes */
/* Estilo para las imágenes */
.img-fluid {
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  display: block; /* Elimina el espacio blanco debajo de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
  .img-fluid {
    max-width: 10%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    margin: 0 auto; /* Asegura que la imagen esté centrada */
  }
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 2rem 0;
}

footer {
  background-color: green;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}

h2 {
  color: white;
  background-color: green;
  text-align: center;
  padding: 1rem;
}

h3 {
  color: #2c3e50;
  background-color: chartreuse;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 5px 0;
}

strong {
  color: #2c3e50;
}

p {
  color: black;
  font-size: 25px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

/* Media para dispositivos moviles  */
@media (max-width: 700px) and (max-height: 600px) {
  p {
    font-size: 14px; /* Ajusta el tamaño de la fuente en pantallas de 700x600 */
  }
}

/* Agregar estilos responsive para mejorar la visualización en móviles */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-right: 0;
  }

  .video-container {
    height: auto; /* Ajusta la altura del contenedor del video en pantallas pequeñas */
  }

  .whatsapp-button {
    bottom: 90px;
    right: 10px;
    padding: 10px;
    font-size: 16px;
  }
}

/* Estilo para el botón de WhatsApp */
/* Estilo para el botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: -70px;
  right: -6%;
  /*Ajustalaposiciónparaqueestéenlaesquinainferiorderecha*/
  padding: 95px;
  /*Tamañodepaddingmáspequeñoparadispositivosmóviles*/
  border-radius: 50%;
  font-size: 16px;
  /*Tamañodefuentereducidoparamóviles*/
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Tamaño del icono de WhatsApp */
.whatsapp-button img {
  width: 80px; /* Tamaño del icono reducido para dispositivos móviles */
  height: auto;
  vertical-align: middle;
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
  .whatsapp-button {
    padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
    font-size: 2px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    bottom: 10px; /* Ajusta la posición inferior en pantallas más pequeñas */
    right: -10px; /* Ajusta la posición derecha en pantallas más pequeñas */
  }

  .whatsapp-button img {
    width: 80px; /* Tamaño aún más pequeño para el icono en pantallas pequeñas */
  }
}

/* Estilos para la pantalla de splash */
#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  z-index: 9999; /* Asegura que la pantalla de splash esté por encima de todo el contenido */
}

/* Estilo para el título del splash */
#splash h2 {
  background: linear-gradient(45deg, #4caf50, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}

/* Estilo para las imágenes en el contenedor */
.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}

.button-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 10px 0;
}

.button-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #0056b3;
}
